div.inline img{
    width: 30px !important;
    height: 30px !important;
    border-radius: 20px;
    border: 1px solid black;
    margin-left: 10px;
}

div.inline{
    padding-left: 10px;
    font-weight: 600;
}